<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">

    <title>Document</title>
</head>

<body>
    <h1 class="titulo">GIT GITHUB</h1>

    <h4 class="subtitulo">Git</h4>
    <p class="parrafo">
        Git es un software de control de versiones diseñado por Linus Torvalds, 
        pensando en la eficiencia, la confiabilidad y compatibilidad del mantenimiento 
        de versiones de aplicaciones cuando estas tienen un gran número de archivos de 
        código fuente.

        <h6 class="fuente"><a href="https://es.wikipedia.org/wiki/Git">fuente: Wikipedia</h6></a>
    </p>
</body>

</html>